form.recording .record-start {
    display: none;
}

form.playing .record-start, form.playing .play-button, form.recording .play-button {
    display: none !important;
}

form:not(.recording) .record-end {
    display: none;
}

#form-container #upload-file {
    display: none;
}

.icon-check .icon-check-on {
    display: none;
}

.icon-check .icon-check-off {
    display: inline-block;
}

.icon-check.icon-checked .icon-check-on {
    display: inline-block;
}

.icon-check.icon-checked .icon-check-off {
    display: none;
}

form:not(.playing) .spinner-border {
    display: none;
}